.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $md-size 0;
}
// BEM - Block Element Modifier
.header__title {
  font-size: $lg-size;
  margin: 0;
}
.header__subtitle {
  color: $off-white;
  font-size: $md-size;
  font-weight: 500;
  margin: 0;
}
